<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398802809651-ec4lkvrpo60oj3sj61op5tcc0lhbl1fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398802809651-ec4lkvrpo60oj3sj61op5tcc0lhbl1fn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398802809651-016f3gvj62phldn1rks34hmjsg41b145.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBig3zrW5aO21jl2kfdfu4zWp6Hp-Ugsr8</string>
	<key>GCM_SENDER_ID</key>
	<string>398802809651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duodev.norwayvpn</string>
	<key>PROJECT_ID</key>
	<string>openvpnproject-bc4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>openvpnproject-bc4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398802809651:ios:25486e357453732e1c4446</string>
</dict>
</plist>